@model ChatIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <div class="form-inline">
        <textarea asp-for="Message" class="input-text"></textarea>
        <input class="btn" type="submit" value="投稿" />
    </div>
</form>

<div class="chat-logs">
    @foreach (var chatLog in Model.Details)
    {
        <div class="@(chatLog.IsMine ? "mine" : "")">
            <div class="chat-log">
                <span class="small">@chatLog.PostAt</span>
                @if (!chatLog.IsMine)
                {
                    <span class="small">@chatLog.Name</span>
                }
                <img class="icon" src="@Url.Content(chatLog.IconUrl)" alt="@chatLog.Name" />
                <div class="message">
                    <p>@chatLog.Message</p>
                </div>
            </div>
        </div>
    }
</div>