@model UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>ユーザー</h1>
<span>登録されているユーザーの一覧です。</span>
<hr />
<p>
    <a asp-action="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ユーザーID
            </th>
            <th>
                ユーザー名
            </th>
            <th>
                管理者
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.IsAdministrator)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-userId="@item.UserId">編集</a> |
                    <a asp-action="Delete" asp-route-userId="@item.UserId">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>